/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]),
:host:not([data-theme="dark"]) {
  --pico-color: #1f1a50;
  --pico-primary-background: #1f1a50;
  --pico-text-selection-color: #29ba0f5d;
  --pico-primary: #ff4236;
  --pico-primary-hover: #fcc038;
  --pico-primary-focus: #fcc038;
  --pico-primary-inverse: #fff;
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    --pico-color: #1f1a50;
    --pico-primary-inverse: #fff;
  }
}
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-color: #1f1a50;
  --pico-primary-inverse: #fff;
}
