:root {
  --swiper-theme-color: var(--pico-primary);
  --swiper-navigation-size: 1.5em !important;
}

.swiper-pagination-bullet {
  opacity: 100%;
  background-color: var(--pico-secondary);
}

.swiper-pagination-bullet-active {
  background-color: var(--swiper-theme-color);
}
.swiper-button-prev,
.swiper-button-next {
  padding: 1em;
  // background-color: var(--pico-primary-inverse);
  border: solid 1px var(--pico-primary);
  border-radius: 3px;
  box-shadow: 0 0 3px var(--pico-primary);
}
