---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import topimage from "../images/IMG_0613.jpg";
import bottomimage from "../images/IMG_0616.jpg";
const pageTitle = "About Us";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>
        Royal Park Ladies Golf Club currently has 60 playing members and a small
        number of social members. The club is managed by a committee of 10
        members who are elected each year at the Annual General Meeting.
      </p>
      <p>Our club colours are navy blue, red and yellow.</p>
      <h2>Committee Office-Bearers 2025</h2>
      <div class="grid">
        <div class="left-col">
          <p>
            President: Helen Fraser <br />
            Vice President: Cathy Hay <br />
            Secretary: Barbara Allen <br />
            Treasurer: Maggie Germaine <br />
            Captain: Colleen Newton <br />
            Captain - 9 Holes: Robyn Metcalfe <br />
            Handicapper: Bernadette Warton <br />
            House Committee: Angela Moylan, Val Tonkin, Corinne Dalach
          </p>
        </div>
        <div class="illustration right-col">
          <Image src={topimage} alt="Committee" />
        </div>
      </div>
      <h2>History</h2>
      <div class="grid">
        <div class="left-col">
          <p>
            The Royal Park Ladies Golf Club was formed in March 1972 by Mavis
            Boland and Olive Barass, together with a group of friends. Prior to
            this, women had played as Associate members of The Royal Park Golf
            Club since 1906.
          </p>
          <p>
            The contribution made by Mavis Boland to the Club continues to be
            acknowledged by the naming of the trophy for the annual Club
            Champion in her honour.
          </p>
          <p>
            During the 1970s and 1980s, RPLGC had successful Pennant teams,
            winning a number of Premierships in both sections E and B.
            Approximately 40 years after the last pennant team competed, the
            2023 and 2024 teams won their divisions to the delight of members.
          </p>
          <p>
            Over the years the women have been involved in many fundraising and
            social events for the benefit of the club.
          </p>
        </div>
        <div class="illustration right-col">
          <Image src={bottomimage} alt="History" />
        </div>
      </div>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .grid {
      grid-gap: 16px;
    }
    .illustration {
      padding: 0 3em;
    }
    @media (max-width: 768px) {
      .right-col {
        order: 1;
      }
      .left-col {
        order: 2;
      }
    }
  </style>
</Layout>
