---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ContactForm from "../components/ContactFormNetlify.astro";
import Phone from "../components/MobilePhone.astro";
import Email from "../components/Email.astro";
import Location from "../components/Location.astro";
import Mail from "../components/Mail.astro";
const pageTitle = "Contact Us";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>New members are always welcome at our club.</p>
      <h3>Contact</h3>
      <!-- <p>If you wish to contact us please phone the secretary, Sue O'Brien:</p>
      <p style="line-height: 3em;">
        <Phone />
        <a href="tel:041 9873 054">041 9873 054</a><br />
        <Email />
        <a href="mailto:susankobrien@gmail.com">susankobrien@gmail.com</a><br /> -->
      <p>
        <Mail />

        The Secretary Royal Park Ladies Golf Club, 11 Old Poplar Rd, Parkville
        3052
      </p>
      <p>
        or visit the club rooms any Tuesday after 1pm and speak to one of the
        Committee members: <br />
        <Location />
        11 Old Poplar Rd, Parkville
      </p>

      <div class="grid">
        <div>
          <h2 style="text-align: center">Contact</h2>
          <ContactForm />
        </div>
        <div>
          <h2 style="text-align: center">Location</h2>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25225.308124237297!2d144.93741824335228!3d-37.78620755280484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65cd2011a986b%3A0xf04567605305a20!2sRoyal%20Park%20Golf%20Course!5e0!3m2!1sen!2sus!4v1738386442831!5m2!1sen!2sus"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </article>
  </div>
</Layout>
<style lang="scss">
  h1 {
    text-align: center;
  }
  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
  }
</style>
