---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro"
const pageTitle = "Gallery";
---
<Layout pageTitle={pageTitle}>
  <div class="container">
    <p>Introductory text</p>
    <Gallery />
  </div>
</Layout>
