---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/Gallery.astro";
const pageTitle = "Gallery";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>
        More than just a golf course, Royal Park Ladies Golf Club is a
        community. This gallery captures the spirit of our members, from
        friendly competitions to social gatherings. Join us as we celebrate our
        shared passion for the game and the bonds forged on our greens.
      </p>
      <h5 style="text-align:center">Click photo to open a slideshow</h5>
      <PhotoGallery />
    </article>
  </div>
</Layout>
