---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/Gallery.astro";
const pageTitle = "Gallery";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>Introductory text</p>
      <PhotoGallery />
    </article>
  </div>
</Layout>
