---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import Phone from "../components/MobilePhone.astro";
import Email from "../components/Email.astro";
import { Image } from "astro:assets";
import FPImageStack from "../components/FPImageStack.astro";
import fpcard1 from "../images/VGLLogo.png";
import fpcard2 from "../images/Golf-Australia.jpg";
import fpcard3 from "../images/RPGCLogo.png";
const pageTitle = "Royal Park Ladies Golf Club";
---

<FrontPageLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="main">
      <article>
        <div class="grid grid1">
          <div class="left-col">
            <p>
              Royal Park Ladies Golf Club plays at Royal Park Golf Course in
              Parkville.
            </p>
            <p>
              This 9 hole course is located in the beautiful parkland adjacent
              to the Melbourne Zoo, approximately 3 kms from the CBD.
            </p>
            <p>
              This course is easily accessed by public transport and has ample
              parking available.
            </p>
            <p>
              We hold weekly 18 hole and 9 hole competitions on Tuesdays from
              February to the end of November.
            </p>
            <p>
              If you enjoy playing golf, you would be most welcome to join our
              friendly and enthusiastic ladies, who range in ages and golfing
              ability, from recent beginners to very experienced players who are
              willing to share their knowledge and expertise.
            </p>
            <p>
              For more information see our <a href="/contact/">contact page.</a>
            </p>
          </div>
          <div class="right-col"><FPImageStack /></div>
        </div>
      </article>
      <article>
        <p>
          Royal Park Ladies Golf Club acknowledges the traditional owners of the
          land on which our golf course is located, the Wurundjeri people of the
          Kulin nation. We pay our respects to their Elders, past, present and
          emerging and welcome all aboriginal and Torres Strait islanders to our
          club.
        </p>
      </article>
      <article>
        <h2 style="text-align:center">Links</h2>
        <div class="container grid">
          <article class="fp">
            <h3>Victorian Golf League</h3>
            <p>
              Victorian Golf League website <a href="https://www.vgl.golf/"
                >link.</a
              >
            </p>
            <a href="https://www.vgl.golf/">
              <Image src={fpcard1} alt="VGL" />
            </a>
          </article>
          <article class="fp">
            <h3>Golflink</h3>
            <p>
              Check your handicap here. <a
                href="https://www.golf.org.au/handicap/">Golflink</a
              >
            </p>
            <a href="https://www.golf.org.au/handicap/">
              <Image src={fpcard2} alt="Golflink" />
            </a>
          </article>

          <article class="fp">
            <h3>Royal Park Golf Course</h3>
            <p>
              Royal Park Golf Course website <a
                href="https://royalparkgolfcourse.ymca.org.au/">link.</a
              >
            </p>
            <a href="https://royalparkgolfcourse.ymca.org.au/">
              <Image src={fpcard3} alt="RPGC Website" />
            </a>
          </article>
        </div>
      </article>
    </div>
  </div>

  <style>
    .fp {
      text-align: center;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      > a {
        align-self: center;
      }
    }
    .grid {
      grid-template-rows: repeat(3, auto);
    }
    .grid.grid1 {
      grid-template-columns: 40% 60%;
    }
    @media (max-width: 768px) {
      .right-col {
        order: 1;
      }
      .left-col {
        order: 2;
      }
    }
  </style>
</FrontPageLayout>
