---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Membership";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>Royal Park Ladies Golf Club welcomes women golfers of all levels.</p>
      <p>
        Applications can be made to the secretary. See details on our contact
        page.
      </p>
      <p>
        By becoming a member you will be eligible to compete in our weekly
        competition as well as social and VGL events.
      </p>
      <p>An official Golf Link handicap can be obtained on joining.</p>
      <p>
        No joining fee. Small annual fee of $100.00 covers insurance,
        affiliation fees and club administration. Weekly fee of $5.00 for 18
        hole competition and 9 hole competition.
      </p>
      <p>Pay as you play green fees.</p>
      <p>Access to well stocked and licensed pro shop.</p>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
  </style>
</Layout>
