---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Membership";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>
        Royal Park Ladies Golf Club warmly welcomes golfers of all levels. We
        provide a friendly, supportive and inclusive environment for all members
        regardless of ability and age.
      </p>
      <p>
        <span class="intro">Membership benefits include:-</span>
        <ul>
          <li>
            18 hole and 9 hole competitions every Tuesday from February to
            November
          </li>
          <li>Team competitions, monthly medals and annual trophies</li>
          <li>
            Regular social activities, including morning tea on game day and
            occasional lunches
          </li>
          <li>Annual Golf Trip</li><li>Opportunity to play VGL pennant</li>
          <li>Booking tee times online using OneGolf</li>
          <li>Scoring competitions using the MiScore App</li>
          <li>Obtaining a GA handicap</li>
        </ul>
      </p>
      <h2>Fees</h2>
      <p>
        Annual Fees are currently $100. Members also pay a weekly $5.00 match
        fee. These fees are reviewed annually.
      </p>
      <p>
        Green fees are paid to the Pro Shop. Rates are listed in the Pro Shop
        and on the Royal Park Golf Club website. Various concessions and the
        option to purchase a yearly subscription are also available.
      </p>
      <p>
        If you have further questions about joining the RPLGC, please <a
          href="/contact/">CONTACT US.</a
        >
      </p>
      <h2>Membership Resources</h2>
      <ul>
        <li>
          <a href="../Application for Membership 2025.pdf" target="_blank"
            >MEMBERSHIP APPLICATION FORM</a
          >
        </li>
        <li>
          <a href="../RPLGC Club Information.pdf" target="_blank"
            >INFORMATION FOR MEMBERS</a
          >
        </li>
      </ul>
      <h2>Newsletters</h2>
      <ul>
        <li>
          <a href="../Golf GOSS Nov24-Jan 2025.pdf" target="_blank"
            >Golf GOSS Nov 2024 - Jan 2025</a
          >
        </li>
        <li>
          <a href="../RPLGC Golf Goss Feb-May 2025-2.pdf" target="_blank"
            >Golf GOSS Feb 2025 - May 2025</a
          >
        </li>
      </ul>
    </article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .intro {
      font-weight: bold !important;
    }
  </style>
</Layout>
