---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Rules and Policies";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article>
      <p>
        Royal Park Ladies Golf Club is regulated by a number of rules and
        policies.
      </p>
      <p>
        As an incorporated entity we are governed by our own Model Rules
        provided by Consumer Affairs Victoria (CAV). These outline the
        governance of the club as an incorporated association and list the
        rights and responsibilities of members and office holders.
      </p>

      <p>
        We also have a set of our own By Laws specific to the operation of our
        association as a golf club. These supplement the Model Rules but cannot
        override them.
      </p>
      <p>
        To access some important documents related to the operation of our club,
        click on the links below:-
        <ul>
          <li><a href="">Consumer Affairs Victoria</a></li>
          <li><a href="">RPLGC By Laws and Model Rules</a></li>
          <li><a href="">RPLGC Supporting Inclusivity Policy</a></li>
          <li><a href="">Common Rules and Penalties</a></li>
          <li><a href="">RPLGC Heat Policy</a></li>
        </ul>
      </p>
      <p>
        If you have any further questions, please <a href="/contact/"
          >CONTACT US.</a
        >
      </p>
    </article>
  </div>
</Layout>
<style lang="scss">
  h1 {
    text-align: center;
  }
</style>
