---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import syllabus from "../images/RPLGC final Syllabus 2025.png";
const pageTitle = "2025 Syllabus";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <article class="syll"><Image src={syllabus} alt="Syllabus" /></article>
  </div>
  <style lang="scss">
    h1 {
      text-align: center;
    }
    .syll {
      background-color: var(--pico-primary-inverse);
    }
  </style>
</Layout>
