---
const year = new Date();
---

<div class="container-fluid">
  <footer>
    Site By: <a href="https://onestopsites.net.au">One Stop Sites</a> &copy; The
    Royal Park Ladies Golf Club - <span id="footer-year"
      >{year.getFullYear()}</span
    >
  </footer>
</div>
<style>
  .container-fluid {
    height: 70px;
    background-color: var(--pico-color);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
  }

  footer {
    color: #bababa;
    /* Applies top and bottom paddings */
    /* padding: 3rem 0; */
    /* Centers the text content */
    text-align: center;
    /* Makes the font smaller */
    font-size: 0.9rem;
  }
</style>
