---
import { Image } from "astro:assets";
import One from "../images/front-page/image-stack/IMG_0554.jpg";
import Two from "../images/front-page/image-stack/Premiers2025.jpeg";
---

<div class="image-stack">
  <div class="one"><Image src={One} alt="Playing" /></div>
  <div class="two"><Image src={Two} alt="Premiers" /></div>
</div>
<style>
  .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
  }
  .one {
    /* width: 60%; */
    grid-column: 1 / span 8;
    grid-row: 1;
    z-index: 2;
  }
  .two {
    width: 100%;
    grid-row: 1;
    grid-column: 3 / span 9;
    padding-top: 55%;
    padding-left: 1em;
    z-index: 3;
  }
</style>
