---
import { Image } from "astro:assets";
import logo from "../images/Royal Park Ladies Logo - MS4.png";
---

<div class="logo"><a href="/"><Image src={logo} alt="Logo" /></a></div>
<style>
  @media only screen and (max-width: 768px) {
    .logo {
      display: flex;
      justify-content: flex-start;
      & img {
        max-width: 100px;
      }
    }
  }
</style>
