---

---

<nav class="main-nav">
  <ul>
    <li>
      <a
        role="button" class="close"
        href="https://royalparkladies.1golf.com.au/"
        target="_blank">OneGolf</a
      >
    </li>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="/about/">ABOUT US</a>
    </li>
    <li>
      <a href="/membership/">MEMBERSHIP</a>
    </li>

    <li>
      <a href="/syllabus/">SYLLABUS</a>
    </li>
    <li>
      <a href="/gallery/">GALLERY</a>
    </li>
    <!-- <li>
      <a href="/policies/">POLICIES</a>
    </li> -->
    <li>
      <a href="/contact/">CONTACT US</a>
    </li>
  </ul>
</nav>
<style>
  li a {
    font-size: 1em;
    padding: 0 0.8em;
  }
  nav li [role="button"] {
    margin: 0.5em 0;
    font-size: 1.25em;
  }
</style>
